<b><font size='3px'>Personal AI Device</font></b><br><br>
<table class="request">
    <tr>
        <td class="request">Installed Personality:</td>
		<td>{{:data.pai_name}}</td>
	</tr>
	<tr>
	    <td class="request">Prime directive:</td>
		<td>{{:data.pai_law0}}</td>
	</tr>
	<tr>
	    <td class="request">Additional directives:</td>
		<td>{{:data.pai_laws}}</td>
	</tr>
</table>
<br>

